@import "styles/index.css";

.main {
  margin-top: var(--header-height);
}

.pcb-wrapper {
  display: flex;
  height: 400px;
  width: calc(100% - 430px);
  padding: 20px;

  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid silver;

  cursor: grab;
}

.pcb-wrapper svg {
  display: block;
  flex: none;
  margin: auto;
}

.tabs {
  padding-top: 30px;

  overflow: hidden;
}

.tabs__wrapper {
  display: flex;

  transition: 0.4s ease;
}

.tabs__item {
  flex: none;
  width: 100%;
}

.main-tab {
  display: flex;
  justify-content: space-between;
}

.main-tab__file-management {
  width: 400px;
}

.upload-area {
  position: relative;

  margin-top: 14px;
  padding: 30px 20px;

  cursor: pointer;
  text-align: center;
  border: 2px dashed rgba(0, 0, 0, 0.13);

  transition: background-color 0.3s;
}

.upload-area__dragover, .upload-area:hover {
  border-color: rgba(0, 0, 0, 0.34);
  background-color: rgba(0, 0, 0, 0.05);
}

.upload-area__input {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 0;
}

.upload-area__input:hover {
  cursor: pointer;
}

.tcam-settings__panel {
  width: 600px;
}

.focusing-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.focusing-options__image {
  display: block;
  height: 200px;
}

.focusing-options {
  margin-bottom: 20px;
}

.options-data__heading {
  margin-bottom: 10px;

  text-align: center;
}

.options-data__table-cell {
  width: 60px;
  padding: 5px;

  box-sizing: border-box;
}

.options-data__table-option {
  width: 100px;

  text-align: center;
}

.options-data__table-label {
  font-style: italic;
}

.options-data__table-value input {
  width: 100%;
}

.technical-options__heading {
  margin-bottom: 20px;

  text-align: center;
}

.technical-options__filling-density {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.technical-options__filling-density-text,
.technical-options__filling-density-range {
  margin-right: 30px;
}

.technical-options__filling-density-input {
  width: 80px;
}

.technical-options__tables {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.technical-options__buttons {
  display: flex;
  justify-content: space-evenly;
}

.technical-options__button {
  width: 250px;
  max-width: calc(50% - 15px);
}
