@import "styles/index.css";

html {
  scroll-behavior: smooth;
}

[hidden] {
  display: none !important;
}

body {
  padding-left: var(--sidebar-width);

  overflow-anchor: none;
}

main {
  padding: 30px 20px;

  box-sizing: border-box;
}

.pcb-wrapper {
  display: flex;
  width: 100%;
  padding: 20px;

  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid silver;

  cursor: grab;
}

.pcb-wrapper svg {
  display: block;
  flex: none;
  margin: auto;
}

@media screen and (max-width: 1441px) {
  .pcb-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .pcb-wrapper {
    height: auto;
    min-height: 400px;
  }
}

@media screen and (max-width: 961px) {
  body {
    padding-left: 0;
  }

  main {
    padding-top: 52px;
  }
}

@media screen and (max-width: 769px) {
  .pcb-wrapper {
    aspect-ratio: unset;
  }
}

@media screen and (max-width: 541px) {
  .pcb-wrapper {
    height: 350px;
    min-height: initial;
  }
}
