@import "styles/index.css";

body {
  padding-left: var(--sidebar-width);

  overflow-anchor: none;
}

main {
  padding: 30px 20px;

  box-sizing: border-box;
}

.pcb-wrapper {
  display: flex;
  min-height: 450px;
  width: calc(100% - 430px);
  padding: 20px;

  overflow: hidden;
  aspect-ratio: 16/9;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid silver;

  cursor: grab;
}

.pcb-wrapper svg {
  display: block;
  flex: none;
  margin: auto;
}

.tabs__item_show.main-tab {
  display: flex;
}

.main-tab {
  justify-content: space-between;
}

.main-tab__file-management {
  width: 400px;
}

.scaling-select-field {
  width: 100%;
  margin-bottom: 20px;
}

.main-tab__pcb-information p {
  margin-bottom: 5px;
}

.main-tab__pcb-information b {
  color: #0FB600;
  font-size: 120%;
}

.main-tab__pcb-information h3 {
  margin-bottom: 10px;
}

.main-tab__pcb-information h4 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.tcam-settings__panel {
  width: 600px;
}

.options-data__heading {
  margin-bottom: 10px;

  text-align: center;
}

.options-data__table-cell {
  width: 60px;
  padding: 5px;

  text-align: center;
  box-sizing: border-box;
}

.options-data__table-option {
  width: 100px;

  text-align: left;
}

.options-data__table-label {
  font-style: italic;
}

.options-data__table-value input {
  width: 100%;
}

.technical-options__heading {
  margin-bottom: 20px;

  text-align: center;
}

.technical-options__filling-density {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.technical-options__filling-density-text,
.technical-options__filling-density-range {
  margin-right: 30px;
}

.technical-options__filling-density-input {
  width: 80px;
}

.technical-options__tables {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.technical-options__buttons {
  display: flex;
  justify-content: space-evenly;
}

.technical-options__button {
  width: 250px;
  max-width: calc(50% - 15px);
}

.tabs__item_show.verification-cnc-tab {
  display: flex;
}

.verification-cnc-tab {
  justify-content: space-between;
}

.verification-cnc-tab__left-part {
  width: 400px;
}

.verification-cnc-tab__gcode-viewer {
  width: 100%;
  height: 350px;
  padding: 10px;

  resize: none;
  outline: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid silver;
}

.verification-cnc-tab__gcode-viewer::-webkit-scrollbar {
  width: 8px;
}

.verification-cnc-tab__gcode-viewer::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #F5F5F5;
}

.verification-cnc-tab__gcode-viewer::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 15px;
  background: rgba(5, 10, 12, 0.15);
}

.verification-cnc-tab__gcode-viewer::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 10, 12, 0.4);
}

@media screen and (max-width: 1441px) {
  .main-tab {
    flex-wrap: wrap;
  }

  .main-tab__file-management {
    width: 100%;
    margin-bottom: 20px;
  }

  .main-tab__file-management-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .scaling-select-field {
    margin-bottom: 0;
  }

  .main-tab__image-control,
  .main-tab__pcb-information {
    width: calc(50% - 15px);
  }

  .main-tab .pcb-wrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1025px) {
  .scaling-select-field {
    width: min(440px, 100%);
  }

  .main-tab .pcb-wrapper {
    height: auto;
    min-height: 400px;
  }
}

@media screen and (max-width: 961px) {
  body {
    padding-left: 0;
  }

  main {
    padding-top: 52px;
  }
}

@media screen and (max-width: 541px) {
  .main-tab__image-control,
  .main-tab__pcb-information {
    width: 100%;
  }

  .main-tab__image-control {
    margin-bottom: 20px;
  }
}
