.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 8px 12px;

  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: var(--blue);
}

.button:hover {
  background-color: #1749d3;
}
