.image-size-modal {
  width: 400px;
  padding-top: 40px;
}

.image-size-modal .input-field {
  margin-bottom: 10px;
}

.image-size-modal .input-field:last-of-type {
  margin-bottom: 20px;
}

.image-size-modal__submit-button {
  margin-left: auto;
}
