.input-field {
  position: relative;
}

.input-field__label {
  display: inline-block;
  margin-bottom: 4px;

  font-size: 16px;
  line-height: 22px;

  color: black;
}

.input-field__input-wrapper {
  position: relative;
  width: 100%;

  z-index: 1;
  box-sizing: border-box;
  background-color: white;
}

.input-field__input {
  width: 100%;
  padding: 8px 10px;

  outline: none;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid black;
}

.input-field__input::-webkit-outer-spin-button,
.input-field__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field__input[type=number] {
  -moz-appearance: textfield;
}

.input-field__input:hover,
.input-field__input:focus {
  border-color: var(--dark-blue);
  box-shadow: inset 0 0 0 1px var(--dark-blue);
}
