.link {
  font-weight: 500;
  text-align: left;

  color: black;
  text-decoration: none;
}

.link:hover {
  color: #34ab00;
}

.link_uppercase {
  text-transform: uppercase;
}

.link__icon {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 10px;

  color: inherit;
}

.link__text {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  color: inherit;
}
