.tabs__item_show.verification-cnc-tab .tabs__item-content {
  display: flex;
}

.verification-cnc-tab .tabs__item-content {
  justify-content: space-between;
}

.verification-cnc-tab__left-part {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.verification-cnc-tab__right-part {
  width: calc(100% - 430px);
}

.verification-cnc-tab .scaling-select-field {
  width: min(440px, 100%);
  margin-bottom: 20px;
}

.verification-cnc-tab__gcode-viewer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.verification-cnc-tab__gcode-viewer h4 {
  margin-bottom: 10px;
}

.verification-cnc-tab__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.verification-cnc-tab__buttons button {
  padding: 8px 12px;
  width: calc(50% - 10px);

  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
  background-color: var(--blue);
}

.verification-cnc-tab__buttons button:hover {
  cursor: pointer;
  background-color: #1749d3;
}

.verification-cnc-tab__gcode-viewer textarea {
  flex: 1 1 auto;

  width: 100%;
  padding: 10px;
  min-height: 350px;

  resize: none;
  outline: none;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid silver;
}

.verification-cnc-tab__gcode-viewer textarea::-webkit-scrollbar {
  width: 8px;
}

.verification-cnc-tab__gcode-viewer textarea::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #F5F5F5;
}

.verification-cnc-tab__gcode-viewer textarea::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 15px;
  background: rgba(5, 10, 12, 0.15);
}

.verification-cnc-tab__gcode-viewer textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(5, 10, 12, 0.4);
}
